{% extends 'textbook_app/base.html' %}

{% block content %}
  {% if ad %}
  <dl class="display">
  <dt>Book: </dt><dd>
  <div class="field"><a href="{% url 'textbook_app:textbook_edit' ad.book.isbn%}">{{ad.book.title}}</a></div>
  </dd>
  <dt>Price: </dt><dd>
  <div class="field">${{ad.price}}</div>
  </dd>
  <dt>Posted By: </dt><dd>
  <div class="field">{{ad.poster}}</div>
  </dd>
  <dt>Book description: </dt><dd>
  <div class="field">{{ad.book.description}}</div>
  </dd>
  </dl>
  {% else %}
    <h1>Error finding ad {ad.id}</h1>
  {% endif %}
{% endblock %}
