{% extends 'textbook_app/base.html' %}

{% block content %}
  {% csrf_token %}
  <div id="app">
    <h3>Search Textbooks</h3>
      <form action="{% url 'textbook_app:ad_new' %}" method="post">
        {% csrf_token %}
        <div id='textbook-form'>
          <input type='text' id='search' name='search' v-on:keyup='searchTextbooks'/>
          <div id='search_results'></div>
          <!-- Display all errors outside the form field because the form is hidden by default when the page is loaded (see ad_new.js) -->
          <!-- TODO: make the textbook form not hidden when it is returned with validation errors -->
          {% for key, value in textbookForm.errors.items %}
            {{ value }}
          {% endfor %}
          <div v-if='isTextbookFormShown'>
            {{ textbookForm }}
          </div>
          <button type='button' id='toggle-textbook' v-on:click='toggleTextbookForm'>[isTextbookFormShown ? 'Hide New Textbook Form' : 'No Existing Textbook? Add a new one!']</button>
        </div>
        <div id='ad-form'>
          <h3>Ad Details</h3>
          {{ adForm }}
        </div>
        <input type="submit" value="Post Ad" />
      </form>
  </div>
  {% load static %}
  <script src="{% static 'ad_new.js' %}"></script>
{% endblock %}
