{% extends 'textbook_app/base.html' %}

{% block content %}
  <h3>Search Textbooks</h3>
  {% csrf_token %}
  <input type='text' id='search' name='search'/>
  <div id='search_results'>

  </div>
  <form action="{% url 'textbook_app:ads_new' %}" method="post">
    {% csrf_token %}
    {{ textbookForm }}
    {{ adForm }}
    <input type="submit" value="Post Ad" />
  </form>
  <div id="app">
    [message]
  </div>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'ad_new.js' %}"></script>
{% endblock %}
