{% extends 'textbook_app/base.html' %}

{% block content %}
  <form id='search-form' method="get" data-search-url="{% url 'textbook_app:ads' %}">
    <input type='text' name='ad-search-text' placeholder="Search..."/>
  </form>
  <div id='search-results'>
  </div>

  {% if ads_list %}
    <ul>
      {% for ad in ads_list %}
        <li>{{ ad.book.title }} for sale from: {{ ad.poster.username }} <a href="{% url 'textbook_app:ad_detail' ad.id %}">details </a></li>
      {% endfor %}
    </ul>
  {% else %}
    <h1>There are no ads yet</h1>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if ads_list.has_previous %}
            <a href="?ad-search-text={{ previous_search_text }}&page={{ ads_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ads_list.number }} of {{ ads_list.paginator.num_pages }}.
        </span>

        {% if ads_list.has_next %}
            <a href="?ad-search-text={{ previous_search_text }}&page={{ ads_list.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>

  <!-- {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'ads_list.js' %}"></script> -->
{% endblock %}
