{% extends 'textbook_app/base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ user.username }}'s Profile</h1>
        <div class="btn-group btn-group-justified btn-group-raised">
        </div>

        {% if ads_list %}
          <h2 class='text-center'>{{ user.username }}'s Ads</h2>
          <ul>
            {% for ad in ads_list %}
              <li>
                <div class='panel'>
                  <div class='panel-heading'>
                    <h4 class='card-title'>{{ ad.book.title }} <a href={% url 'textbook_app:ad_detail' ad.id %} class='btn btn-primary pull-right'>details</a></h4>                 
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h1>They have not posted any Ads yet.</h1>
        {% endif %}
    </div>
{% endblock %}
